<%- include('../layouts/headers.ejs'); %>
    <div class="content">
        <p> Hello <%= variables.name %>!</p>
        <p>Yoy!!, your <%= variables.wallet %> wallet was <%= variables.type %>.<br>
        <p>with the sum of =N=<%= variables.amount %></p>
        <p>The Team</p>
    </div>
<%- include('../layouts/footers.ejs'); %>
